.base-button
  display: inline-flex
  align-items: center
  justify-content: center

  min-width: 7rem
  min-height: 2.5rem
  padding: 0.5rem 2rem
  border-radius: 5px

  background: $btn-normal-bg
  color: $white
  user-select: none
  cursor: pointer
  transition: background 0.4s

  &__loader
    animation: spin 2s linear infinite

  &:hover
    background: $btn-hover-bg

  &:active
    background: $btn-active-bg

  &:focus
    border: 2px solid #45A5FF

  &._disabled
    pointer-events: none
    background: $btn-disabled-bg

    &:hover
      background: $btn-disabled-bg

    &:active
      background: $btn-disabled-bg

    &:focus
      border: none
      background: $btn-disabled-bg

  &._loading
    pointer-events: none
    background: $btn-normal-bg

    &:hover
      background: $btn-normal-bg

    &:active
      background: $btn-normal-bg

    &:focus
      border: none
      background: $btn-normal-bg

  @keyframes spin
    100%
      transform: rotate(360deg)
